.App{
  text-align: center;
  padding:10px 30px;
}

.App-header{
   text-align: center;
}
/*-----------Add Data ---------------*/
.AddData{

}
.AddData input{
  outline: none;
  width: 300px;
  margin: 10px 0;
  height: 20px;
  padding-left: 5px;
}
.AddData .btn{
  border: none;
  background-color: #48967a;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}
/*------- select style ----------*/
.filter{
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;

}
.filter .filter-item{
  width: 50%;
}
.filter .filter-item .flt{
  width: 30%;
  margin: 10px;
  height: 30px;
  outline: none;
}
/*------- input style ----------*/
.input{
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}
.input input[type="text"]{
   width: 40%;
   height: 30px;
   padding-left:10px ;
   border-radius: 20px;
   min-width: 40%;
   outline: none;
}
.input button{
  margin-left: 20px;
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 60px;
  cursor: pointer;
  font-weight: bold;
}

/*------- table style ----------*/
table{
  width: 100%;
  border-collapse: collapse;
 
}
tr:nth-child(even) {background-color: #f2f2f2;}

table, th, td {

  padding:5px 20px;
}
th {
  background-color: #48967a;
  color: white;
}
.creator{
  text-align: left;
}

.delete{
  border: none;
  background-color: indianred;
  color: #fff;
  padding: 5px ;
  cursor: pointer;
  border-radius: 10px;
}
.update{
  border: none;
  background-color:#48967a;
  color: #fff;
  padding: 5px ;
  cursor: pointer;
  border-radius: 10px;
}